.filter_box{
    padding: 12px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    column-gap: 5px;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 24px - 2px);
    color:var(--dark-text);
    flex-grow: 2;
    font-size: 15px;
    background-color: var(--grey);
}

.filter_box p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    flex-shrink: 2;
}

.close_button{
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.close_button:hover svg{
    fill: var(--pink);
}