.search-box{
    position: relative;
    width: 60vw;
    background-color: var(--search-bg-color);
    border-radius: 5px;
    box-shadow: 0 0.5em 0.5em black;
    pointer-events: all;
}

.search-box:focus-within .search-dropdown{
    display: flex;
}

.search-box:focus-within{
    border-radius: 5px 5px 0 0;
}

.search-bar-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
    gap: 10px;
    align-items: center;
}

.search-icon{
    fill: var(--bg-color);
}

.search-input{
    border: none;
    background: none;
    outline: none;
    flex-shrink: 2;
    flex-wrap: wrap;
    flex-grow: 4;
    padding: 12px;
    padding-left: 0px;
    color:var(--dark-text);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-input::placeholder{
    font-weight: 500;
}

.search-input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'>  <path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.navigation-info-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    flex-wrap: wrap;
}

.search-dropdown{
    box-shadow: 0 0.5em 0.5em black;
    position: absolute;
    z-index: 2;
    padding: 12px;
    width: 100%;
    background-color: var(--search-bg-color);
    color:var(--dark-text);

    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    border-width: 1px 0 0 0;
    border-style: solid ;
    border-color: var(--grey);

    display: none;
    flex-direction: column;
}

.search-dropdown.visible-hints{
    display: flex;
}

.hint{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hint:hover{
    border-color: var(--pink);
}

.hint p{
    flex-shrink: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

.hint.focused{
    background-color: var(--grey);
}

.hint p strong{
    color: var(--pink);
}

.hint-enter-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: var(--darker-grey);
    font-weight: 500;
    user-select: none;
}

.hint-enter-icon svg{
    fill: var(--darker-grey);
}